.hero-subpage {
    position: relative;
    min-height: 600px;
    margin-bottom: -81px;
}

@media screen and (min-width: 768px) {
    .hero-subpage {
        margin-bottom: -101px;
    }
}

.hero-subpage__background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-subpage__background-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

@media screen and (min-width: 1200px) {
    .hero-subpage__background-wrapper::before {
        background: linear-gradient(89.69deg, #031018 26.43%, rgba(3, 16, 24, 0) 90.08%);
    }
}

.hero-subpage__background {
    height: 100%;
}

.hero-subpage__background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-subpage__content {
    position: relative;
    min-height: 600px;
    display: flex;
    align-items: center;
    color: var(--color-white);
    z-index: var(--z-index-2);
}

.hero-subpage__texts {
    line-height: 1.6;
    padding-top: 55px;
    max-width: 550px;
}

@media screen and (min-width: 1200px) {
    .hero-subpage__texts {
        padding-top: 46px;
    }
}

.hero-subpage__heading {
    text-transform: uppercase;
    margin-bottom: 10px;
}

@keyframes scroll{0%{transform:translateY(0);opacity:1}100%{transform:translateY(2px);opacity:.1}}@media screen and (min-width: 1200px){.hero-subpage--additional-content{min-height:900px}}.hero-subpage--additional-content .hero-subpage__text{font-size:20px;line-height:30px}@media screen and (min-width: 768px){.hero-subpage--additional-content .hero-subpage__text{font-size:25px;line-height:35px}}.hero-subpage--additional-content .hero-subpage__texts{padding-top:0}@media screen and (min-width: 1200px){.hero-subpage--additional-content .hero-subpage__texts{max-width:50%}}.hero-subpage--additional-content .hero-subpage__texts--bottom{margin-top:60px}@media screen and (min-width: 768px){.hero-subpage--additional-content .hero-subpage__texts--bottom{margin-top:75px}}@media screen and (min-width: 1200px){.hero-subpage--additional-content .hero-subpage__texts--bottom{margin-top:95px}}.hero-subpage--additional-content .hero-subpage__texts--bottom__heading{font-weight:500;font-size:20px;line-height:35px}@media screen and (min-width: 768px){.hero-subpage--additional-content .hero-subpage__texts--bottom__heading{font-size:30px;line-height:42px}}.hero-subpage--additional-content .hero-subpage__texts--bottom__heading+.hero-subpage__texts--bottom__content{margin-top:12px}.hero-subpage--additional-content .hero-subpage__texts--bottom__heading br{display:none}@media screen and (min-width: 1440px){.hero-subpage--additional-content .hero-subpage__texts--bottom__heading br{display:block}}.hero-subpage--additional-content .hero-subpage__texts--bottom__content{font-size:18px;font-weight:400;line-height:24px}@media screen and (min-width: 768px){.hero-subpage--additional-content .hero-subpage__texts--bottom__content{font-size:20px;line-height:35px}}.hero-subpage--additional-content .hero-subpage__texts--bottom__content br{display:none}@media screen and (min-width: 1440px){.hero-subpage--additional-content .hero-subpage__texts--bottom__content br{display:block}}.hero-subpage--additional-content .hero-subpage__texts--bottom__content+.hero-subpage__texts--bottom__buttons{margin-top:40px}.hero-subpage--additional-content .hero-subpage__texts--bottom__buttons{display:flex;align-items:center;justify-content:flex-start;flex-direction:column}@media screen and (min-width: 520px){.hero-subpage--additional-content .hero-subpage__texts--bottom__buttons{flex-direction:row}}.hero-subpage--additional-content .hero-subpage__texts--bottom__buttons svg{margin-left:8px}.hero-subpage--additional-content .hero-subpage__texts--bottom__buttons svg>path{animation:scroll 2s infinite;animation-delay:0s}.hero-subpage--additional-content .hero-subpage__texts--bottom__buttons svg path[opacity="0.6"]{animation-delay:.3s}.hero-subpage--additional-content .hero-subpage__texts--bottom__buttons svg path[opacity="0.3"]{animation-delay:.6s}.hero-subpage--additional-content .hero-subpage__texts--bottom__button{padding:15px 34px;min-width:unset}.hero-subpage--additional-content .hero-subpage__texts--bottom__button+.hero-subpage__texts--bottom__button{margin-top:20px;margin-bottom:10px}@media screen and (min-width: 520px){.hero-subpage--additional-content .hero-subpage__texts--bottom__button+.hero-subpage__texts--bottom__button{margin-top:0;margin-bottom:0;margin-left:35px}}.hero-subpage--additional-content .hero-subpage__content{flex-direction:column;align-items:flex-start;justify-content:flex-start;padding-top:200px;padding-bottom:70px;min-height:unset}@media screen and (min-width: 768px){.hero-subpage--additional-content .hero-subpage__content{padding-top:250px}}@media screen and (min-width: 1200px){.hero-subpage--additional-content .hero-subpage__content{padding-top:277px;padding-bottom:20px}}