.offer {
    &__wrapper {
        @media screen and (min-width: 990px) {
            display: flex;
            column-gap: 24px;
        }
    }

    &__col {
        &--left {
            @media screen and (min-width: 990px) {
                max-width: 100%;
                width: 306px;
                flex: 0 0 auto;
            }
        }
        &--right {

            & > div {
                margin: 40px 0;

                @media screen and (min-width: 990px) {
                    margin: 60px 0;
                }

                &:first-child {
                    @media screen and (min-width: 990px) {
                        margin-top: 0;
                    }
                }

                &:last-child {
                    @media screen and (min-width: 990px) {
                        margin-bottom: 0;
                    }
                }
            }

            &-small-margin {
                & > div {
                    margin: 20px 0;
    
                    @media screen and (min-width: 990px) {
                        margin: 30px 0;
                    }
    
                    &:first-child {
                        @media screen and (min-width: 990px) {
                            margin-top: 0;
                        }
                    }
    
                    &:last-child {
                        @media screen and (min-width: 990px) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        &--header {
            @media screen and (min-width: 990px) {
                position: sticky;
                top: 101px;
            }
        }
    }
}

* {
    & + .content_top {
        margin-top: 57px;
    }
}

.content_top,
.content_bottom {
    line-height: 1.6;

    * + * {
        &:not(:first-child) {
            margin-top: 26px;
        }
    }
}

.content_bottom {
    font-size: 20px;
}


.single-offers {

    section {

        &:not(:first-of-type) {
            margin-top: 80px;
            margin-bottom: 80px;

            @media screen and (min-width: 990px) {
                margin-top: 120px;
                margin-bottom: 120px;
            }

            @media screen and (min-width: 1200px) {
                margin-top: 160px;
                margin-bottom: 160px;
            }

        }
    }

    .hero-subpage {
        & + section {
            @media screen and (min-width: 990px) {
                margin-top: 180px;
            }
        }
    }
}